.portfolio-header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  /* min-height: 80px;
  position: fixed;
  width: 100%;
  background-color: var(--white-text);
  top: 0;
  left: 0; */
}

/* margin-bottom: 0;
  margin-top: 0; */

.container-portfolio {
  // width: 1200px;
  // margin-left: auto;
  // margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 767px) {
    padding-bottom: 60px;
  }
  /* outline: 1px solid red; */
}
.option-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: Roboto, sans-serif;

  border-radius: 4px;
  border: 1px transparent;
  cursor: pointer;

  transition: $cubic-color;

  padding: 6px 22px;
  margin-top: 0;

  &:hover,
  &:focus {
    background-color: $blue;
    color: #ffffff;
  }
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-list {
  display: block;
  display: flex;

  align-items: center;
  justify-content: center;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 36px;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
  display: inline-flex;
}

.actions {
  position: absolute;
  content: "";
  bottom: 0;
  /* opacity: 0; */
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;

  transform: translateY(100%);
  transition: $cubic-color;

  color: $white-text;
  background-color: $blue-transparent;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: -15px;

  @media screen and (min-width: 320px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    // justify-content: left;
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 60px;
  }
}
.card-set__item {
  cursor: pointer;

  margin-right: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 320px) {
    margin: 15px;
    max-width: 354px;
    // width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 90px) / 2);
    // justify-content: left;
    // align-items: left;
  }

  @media screen and (min-width: 1200px) {
    margin: 15px;
    width: calc((100% - 3 * 30px) / 3);

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.card-set__link {
  display: flex;
  flex-direction: column;

  transition: box-shadow $cubic-color;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .actions {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-set__meta {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  // width: 370px;

  background: $white-text;
  padding: 20px 24px;

  @media screen and (min-width: 480px) {
    flex-grow: 1;
  }
}

.card-set__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-set__project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin-bottom: 0;
  margin-top: 4px;
  color: $grey-text;
}
