.address-link {
  display: flex;
  text-decoration: none;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $grey-text;
  transition: $cubic-color;

  &:hover,
  &:focus {
    color: $blue;
  }

  &:last-child {
    @media screen and (min-width: 780px) {
      margin-top: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 50px;
    }
  }

  // @media screen and (min-width: 768px) {
  //   margin-top: 21px;
  //   margin-bottom: 21px;
  // }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.icon-mail {
  content: "";
  display: inline-block;

  width: 16px;
  height: 12px;
  background-image: url(../images/icons.svg/header1.svg);

  fill: currentColor;
  margin-right: 10px;
}

.icon-tel {
  content: "";
  width: 10px;
  height: 16px;
  background-image: url(../images/icons.svg/header2.svg);

  fill: currentColor;
  margin-right: 10px;
}
