.costumer-section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
}

.costumer-list {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

.costumer-list__item {
  @media screen and (min-width: 320px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 90px) / 3);
    margin: 15px;
    justify-content: center;
  }

  @media screen and (min-width: $decktop) {
    margin: 15px;
    width: calc((100% - 180px) / 6);
  }
}

.costumer-list__link {
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;

  border: 1px solid $grey-border;
  border-radius: 4px;

  transition: $cubic-color;
  fill: $grey-border;

  &:hover,
  &:focus {
    border: 1px solid $blue;
    fill: $blue;
  }
}
