.hero {
  max-width: 1600px;
  text-align: center;

  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  background-position: center;
  background-color: $back-dark;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  @media screen and (min-width: 320px) {
    padding-bottom: 118px;
    padding-top: 118px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/img.jpg");
    // min-width: 480px;
    // height: 400px;

    // background-size: 480px 400px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: url("img@2x.png");
    }
  }

  @media screen and (min-width: $tablet) {
    padding-bottom: 118px;
    padding-top: 118px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/imgt.jpg");
    // background-position: center;
    // min-width: 768px;
    // height: 400px;
    // background-size: 768px 400px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: url("imgt@2x.png");
    }
  }

  @media screen and (min-width: $decktop) {
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/imgd.jpg");

    // min-width: 1200px;
    height: 600px;
    // background-size: 1200px 600px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: url("imgd@2x.png");
    }
  }
}

.hero__title {
  text-transform: uppercase;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: $white-text;

  // padding-top: 200px;
  padding-bottom: 0;
  margin-top: 0;

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.6;
  }
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  min-width: 136px;
  border: 1px transparent;
  border-radius: 4px;
  cursor: pointer;

  transition: $cubic-color;
  background-color: $blue;
  color: #ffffff;

  padding: 10px 32px;
  margin-top: 30px;
}
