.menu-container {
  position: fixed;

  overflow: scroll;
  padding: 48px 40px;

  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $white-text;
  transform: translateX(100%);
  transition: $cubic-color;
  z-index: 999;

  &.is-open {
    transform: translateX(0);
  }
}

.mobile-menu {
  margin-bottom: 302px;

  &__link {
    position: relative;
    color: $black;
    font-weight: 500;
    line-height: 1.17;
    font-size: 40px;
    text-decoration: none;
    letter-spacing: 0.02em;
    text-align: center;

    &:hover,
    &:focus {
      color: $blue;
    }
  }
}
.mobile-adresses {
  position: absolute;
  top: 562px;
}

.mobile-address__mail::after,
.mobile-address__tel::after,
.mobile-social__link::after,
.mobile-menu__link::after {
  content: "";
  position: absolute;
  height: 4px;
  border-radius: 2px;
  transition: width 0.3ms;
  background-color: $blue;
  opacity: 1;
}

.mobile-address__mail:hover::after,
.mobile-address__tel:hover::after,
.mobile-social__link:hover::after,
.mobile-menu__link:hover::after {
  width: 100%;
  display: block;
  transition: width 0.3ms;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-address {
  line-height: 1.17;
  font-weight: 500;
  font-size: 34px;
  margin-top: auto;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-address__mail {
  color: $grey-text;
  text-decoration: none;
  position: relative;
}

.mobile-address__tel {
  position: relative;
  text-decoration: none;
  color: $blue;
}

.mobile-social {
  margin-top: 64px;
  display: flex;
  position: absolute;
  top: 726px;

  &__link {
    position: relative;
    color: $blue;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
  }

  &__item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover,
  &:focus {
    fill: $blue;
    cursor: pointer;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
