.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  overflow-y: scroll;
  @media screen and (min-width: $mobile) {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: ;
    width: 100%;
    height: 609px;
    background-color: $white-text;
    padding: 40px;
  }

  @media screen and (min-width: $decktop) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 528px;
    height: 581px;
    background-color: $white-text;
    padding: 40px;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  background-color: $white-text;
  transition: $cubic-color;

  &:hover,
  &:focus {
    fill: $blue;
  }
}

.modal-button {
  background-color: $blue;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $white-text;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
  transition: $cubic-color;
  margin-left: 110px;
  display: inline-block;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: rgba(24, 140, 232, 1);
  }
}

.form-title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-field label {
  margin-bottom: 4px;
  color: $grey-text;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.input-thumb {
  content: "";
  position: relative;
}

.input-form {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  height: 40px;
  width: 100%;

  &:focus + .icon-form {
    fill: $blue;
  }

  &:focus {
    border: 1px solid $blue;
  }
}

.icon-form {
  position: absolute;

  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.textarea {
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  color: $grey-text;

  font-weight: 400;
  height: 120px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  font-size: 12px;
}

.field-policy {
  margin-bottom: 30px;

  color: $grey-text;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-align: center;
}

.field-policy__check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field-policy__input:checked + .field-policy__icon {
  background-color: $blue;
  background-image: url(../images/icons.svg/icon-check.svg);
  border-color: $blue;
  background-repeat: no-repeat;
}

.field-policy__icon {
  display: inline-block;
  margin-right: 9px;
  border-radius: 4px;

  border: 2px solid #2a2a2a;
}

.field-policy__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
