.page-header__nav {
  display: flex;
  align-items: center;
}

.page-header__contact {
  @media screen and (max-width: 767px) {
    height: 60px;
  }

  @media screen and (min-width: $tablet) {
    margin-left: auto;
  }

  @media screen and (min-width: $decktop) {
    display: flex;
    margin-left: auto;
  }

  @media screen and (max-width: 1199px) {
    align-items: center;
  }
}
