.team-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: $back-lightwhite;

  @media screen and (max-width: 767px) {
    padding-bottom: 60px;
  }
}

.team-list {
  // display: flex;

  // padding-left: 0;
  // padding-right: 0;
  // margin-left: auto;
  // margin-right: auto;
  // margin-bottom: 0;

  @media screen and (min-width: 320px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    justify-content: center;
  }
}

.team-list__thumb {
  height: 460px;

  @media screen and (min-width: 768px) {
    height: 374px;
  }

  @media screen and (min-width: 1200px) {
    height: 260px;
  }
}
.team-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-list__item {
  border-radius: 0px 0px 4px 4px;
  background-color: $white-text;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    margin: 15px;
    width: calc((100% - 120px) / 4);
  }
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  padding-top: 30px;
}

.team-list__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-top: 10px;
  margin-bottom: 16px;
}

.item-icon {
  margin-top: 16px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list {
  @media screen and (min-width: 320px) {
    justify-content: space-around;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin: -5px;
  }
}

.social-list__link {
  display: block;
  display: flex;
  height: 44px;
  width: 44px;

  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: $cubic-color;

  color: $grey-border;
  background-color: $white-text;

  padding: 0;

  &:hover,
  &:focus {
    color: $white-text;
    background-color: $blue;
    border-radius: 50%;
  }
}

.social-list__item {
  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 5px) / 4);
    margin: 5px;
  }
}
